## HYPOTHESIS TESTING ASSIGNMNENT(CUTLETS)

### DATASET CUTLETS.CSV

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units.
A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. 
Please state the assumptions and tests that you carried out to check validity of the assumptions.
Dataset : Cutlets.csv
Assumptions of Hypothesis
Null Hypothesis Ho : μ1 = μ2 (There is no difference in diameters of cutlets between two units).
Alternate Hypothesis Ha : μ1 ≠ μ2 (There is significant difference in diameters of cutlets between two units)
As its problem of 2 samples, 2 sample 2 test approach is applicable
Also, as the number of samples collected from both the units are greater than 30 so, insted of using t-test we need to 
use z-test to calculate p-value. The reason we are using z-test is that, as no. of samples increases t-distribution approaches to standard normal distribution.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats import weightstats as stests
import statsmodels.api as sm

In [2]:
df=pd.read_csv('C:/Users/Hi/Downloads/cutlets.csv')

## EDA

In [3]:
df.shape

(35, 2)

In [4]:
# description of dataset
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [5]:
# Checking for any null values 
df.isna().sum()

Unit A    0
Unit B    0
dtype: int64

## Preparing data to be used in problem solving

In [9]:
unit_a = df['Unit A']
unit_b = df['Unit B']

## Applying ztest from statsmodels.stats, weightstats

In [10]:
# This will return two values, 1) ztest vaue, 2)p_value
ztest, pvalue = stests.ztest(x1 = unit_a, x2=unit_b, value=0,alternative='two-sided')

In [11]:
# significance level given is α = 0.05
pvalue = float(pvalue)
α = 0.05

print("P-value: ", pvalue)

if pvalue <= α:
    print("Rejecting null hypothesis")
    print("Conclusion: There is significant difference in diameters of cutlets between two units")
else:
    print("Fail to reject null hypothesis")
    print("Conclusion: There is no significant difference in diameters of cutlets between two units")

P-value:  0.46976045023906055
Fail to reject null hypothesis
Conclusion: There is no significant difference in diameters of cutlets between two units

### Result: Fail to reject null hypothesis
### Inference: There is no significant difference in diameters of cutlets between two units

### A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

### Dataset : LabTAT.csv
### Hypothesis Test: Anova ftest statistics
### Assumptions of Hypothesis
### Null Hypothesis Ho : μ1 = μ2 = μ3 = μ4 (All samples Turn Around Time (TAT) population means are same)
### Alternate Hypothesis: Atleast one sample Turn Around Time (TAT) population mean is different

In [12]:
# Import libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [19]:
# Load Dataset
data=pd.read_csv('C:/Users/Hi/Downloads/LabTAT (2).csv')

### EDA

In [20]:
data.shape

(120, 4)

In [21]:
# Description of Dataset
data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [22]:
# Check for null values
data.isna().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

## Preparing data to be used in problem solving

In [24]:
lab1 = data['Laboratory 1']
lab2 = data['Laboratory 2']
lab3 = data['Laboratory 3']
lab4 = data['Laboratory 4']

### Applying ANOVA Ftest statistics

In [25]:
import scipy.stats as stats
α = 0.05

f_test, pvalue = stats.f_oneway(lab1, lab2, lab3, lab4)

print("P-value: ", pvalue)

if pvalue <= α:
    print("Rejecting null hypothesis")
    print("Conclusion:  Atleast one sample TAT population mean is different")
else:
    print("Fail to reject null hypothesis")
    print("Conclusion: All samples TAT population means are same")

P-value:  2.1156708949992414e-57
Rejecting null hypothesis
Conclusion:  Atleast one sample TAT population mean is different

### Result: Rejecting null hypothesis
### Inference: Atleast one sample TAT population mean is different

### Dataset: BuyerRatio.csv
### Hypothesis Test: Chi2 contingency Test
### Assumptions of Hypothesis
### Null Hypothesis Ho : Male-Female buyer rations are similar across regions ,does not vary and not related
### Alternate Hypothesis Ha : Male-Female buyer rations are NOT similar across regions

In [26]:
# Loading Libraries
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [27]:
# Load the dataset
data = pd.read_csv('C:/Users/Hi/Downloads/BuyerRatio.csv')

In [28]:
# Making two dimensional array from available data  
obs=np.array([[50,142,131,70],
              [435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

### Applying chi2_contigency test

In [29]:
chi2, pvalue, dof, ex = chi2_contingency(obs)

In [30]:
α = 0.05

print(pvalue)

if pvalue <= α:
   print("Rejecting null hypothesis")
   print("Conclusion: Male-Female buyer rations are NOT similar across regions and related")
else:
    print("Fail to reject null hypothesis")
    print("Conclusion: Male-Female buyer rations are similar across regions and not related")

0.6603094907091882
Fail to reject null hypothesis
Conclusion: Male-Female buyer rations are similar across regions and not related

### Result: Fail to reject null hypothesis
### Inference: Male-Female buyer rations are similar across regions and not related

#### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. 
Any error in order form renders it defective and has to be reworked before processing.
The manager wants to check whether the defective % varies by centre.
Please analyze the data at 5% significance level and help the manager draw appropriate inferences
#### Dataset: CustomerOrderForm.csv
#### Hypothesis Test: Chi2 contingency test
#### Null Hypothesis: Customer order forms defective % does not varies by centre
#### Alternate Hypothesis: Customer order forms defective % varies by centre

In [31]:
# Loading Libraries
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [32]:
# Load the dataset
data = pd.read_csv('C:/Users/Hi/Downloads/Costomer+OrderForm.csv')

## EDA

In [34]:
data.shape

(300, 4)

In [35]:
# description of dataset
data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [36]:
# checking for null values
data.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [37]:
# Getting count of categorical data i.e., Error free and Defective from dataset
error_free_Phillippines, defective_Phillippines = data.Phillippines.value_counts()
error_free_Indonesia, defective_Indonesia = data.Indonesia.value_counts()
error_free_Malta, defective_Malta = data.Malta.value_counts()
error_free_India, defective_India = data.India.value_counts()

In [38]:
# Converting the count of data into 2D array
obs = np.array([[error_free_Phillippines, error_free_Indonesia, error_free_Malta, error_free_India],
               [defective_Phillippines, defective_Indonesia, defective_Malta, defective_India]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

### Applying chi2_contigency test

In [39]:
chi2, pvalue, dof, ex = chi2_contingency(obs)

In [40]:
α = 0.05


if pvalue <= α:
   print("Rejecting null hypothesis")
   print("Conclusion: Customer order forms defective %  varies by centre")
else:
    print("Fail to reject null hypothesis")
    print("Conclusion: Customer order forms defective %  does not varies by centre")

Fail to reject null hypothesis
Conclusion: Customer order forms defective %  does not varies by centre

### Result: Fail to reject null hypothesis
### Inference: Customer order forms defective % does not varies by centre

In [41]:
!pip install nb2mail

Collecting nb2mail
  Downloading nb2mail-0.6.tar.gz (4.8 kB)
Requirement already satisfied: jupyter in c:\users\hi\anaconda3ab\lib\site-packages (from nb2mail) (1.0.0)
Requirement already satisfied: notebook in c:\users\hi\anaconda3ab\lib\site-packages (from jupyter->nb2mail) (6.3.0)
Requirement already satisfied: jupyter-console in c:\users\hi\anaconda3ab\lib\site-packages (from jupyter->nb2mail) (6.4.0)
Requirement already satisfied: nbconvert in c:\users\hi\anaconda3ab\lib\site-packages (from jupyter->nb2mail) (6.0.7)
Requirement already satisfied: qtconsole in c:\users\hi\anaconda3ab\lib\site-packages (from jupyter->nb2mail) (5.0.3)
Requirement already satisfied: ipywidgets in c:\users\hi\anaconda3ab\lib\site-packages (from jupyter->nb2mail) (7.6.3)
Requirement already satisfied: ipykernel in c:\users\hi\anaconda3ab\lib\site-packages (from jupyter->nb2mail) (5.3.4)
Requirement already satisfied: tornado>=4.2 in c:\users\hi\anaconda3ab\lib\site-packages (from ipykernel->jupyter->nb2mail) (6.1)
Requirement already satisfied: ipython>=5.0.0 in c:\users\hi\anaconda3ab\lib\site-packages (from ipykernel->jupyter->nb2mail) (7.22.0)
Requirement already satisfied: traitlets>=4.1.0 in c:\users\hi\anaconda3ab\lib\site-packages (from ipykernel->jupyter->nb2mail) (5.0.5)
Requirement already satisfied: jupyter-client in c:\users\hi\anaconda3ab\lib\site-packages (from ipykernel->jupyter->nb2mail) (6.1.12)
Requirement already satisfied: jedi>=0.16 in c:\users\hi\anaconda3ab\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter->nb2mail) (0.17.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\hi\anaconda3ab\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter->nb2mail) (52.0.0.post20210125)
Requirement already satisfied: pygments in c:\users\hi\anaconda3ab\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter->nb2mail) (2.8.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hi\anaconda3ab\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter->nb2mail) (3.0.17)
Requirement already satisfied: colorama in c:\users\hi\anaconda3ab\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter->nb2mail) (0.4.4)
Requirement already satisfied: decorator in c:\users\hi\anaconda3ab\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter->nb2mail) (5.0.6)
Requirement already satisfied: pickleshare in c:\users\hi\anaconda3ab\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter->nb2mail) (0.7.5)
Requirement already satisfied: backcall in c:\users\hi\anaconda3ab\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter->nb2mail) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\hi\anaconda3ab\lib\site-packages (from jedi>=0.16->ipython>=5.0.0->ipykernel->jupyter->nb2mail) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\hi\anaconda3ab\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->jupyter->nb2mail) (0.2.5)
Requirement already satisfied: ipython-genutils in c:\users\hi\anaconda3ab\lib\site-packages (from traitlets>=4.1.0->ipykernel->jupyter->nb2mail) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\hi\anaconda3ab\lib\site-packages (from ipywidgets->jupyter->nb2mail) (5.1.3)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\hi\anaconda3ab\lib\site-packages (from ipywidgets->jupyter->nb2mail) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\hi\anaconda3ab\lib\site-packages (from ipywidgets->jupyter->nb2mail) (3.5.1)
Requirement already satisfied: jupyter-core in c:\users\hi\anaconda3ab\lib\site-packages (from nbformat>=4.2.0->ipywidgets->jupyter->nb2mail) (4.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\hi\anaconda3ab\lib\site-packages (from nbformat>=4.2.0->ipywidgets->jupyter->nb2mail) (3.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\hi\anaconda3ab\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nb2mail) (0.17.3)
Requirement already satisfied: six>=1.11.0 in c:\users\hi\anaconda3ab\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nb2mail) (1.15.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\hi\anaconda3ab\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nb2mail) (20.3.0)
Requirement already satisfied: prometheus-client in c:\users\hi\anaconda3ab\lib\site-packages (from notebook->jupyter->nb2mail) (0.10.1)
Requirement already satisfied: terminado>=0.8.3 in c:\users\hi\anaconda3ab\lib\site-packages (from notebook->jupyter->nb2mail) (0.9.4)
Requirement already satisfied: pyzmq>=17 in c:\users\hi\anaconda3ab\lib\site-packages (from notebook->jupyter->nb2mail) (20.0.0)
Requirement already satisfied: argon2-cffi in c:\users\hi\anaconda3ab\lib\site-packages (from notebook->jupyter->nb2mail) (20.1.0)
Requirement already satisfied: jinja2 in c:\users\hi\anaconda3ab\lib\site-packages (from notebook->jupyter->nb2mail) (2.11.3)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\hi\anaconda3ab\lib\site-packages (from notebook->jupyter->nb2mail) (1.5.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\hi\anaconda3ab\lib\site-packages (from jupyter-client->ipykernel->jupyter->nb2mail) (2.8.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\hi\anaconda3ab\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets->jupyter->nb2mail) (227)
Requirement already satisfied: pywinpty>=0.5 in c:\users\hi\anaconda3ab\lib\site-packages (from terminado>=0.8.3->notebook->jupyter->nb2mail) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\hi\anaconda3ab\lib\site-packages (from argon2-cffi->notebook->jupyter->nb2mail) (1.14.5)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3ab\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook->jupyter->nb2mail) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hi\anaconda3ab\lib\site-packages (from jinja2->notebook->jupyter->nb2mail) (2.0.1)
Requirement already satisfied: bleach in c:\users\hi\anaconda3ab\lib\site-packages (from nbconvert->jupyter->nb2mail) (3.3.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\hi\anaconda3ab\lib\site-packages (from nbconvert->jupyter->nb2mail) (0.5.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\hi\anaconda3ab\lib\site-packages (from nbconvert->jupyter->nb2mail) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\hi\anaconda3ab\lib\site-packages (from nbconvert->jupyter->nb2mail) (1.4.3)
Requirement already satisfied: jupyterlab-pygments in c:\users\hi\anaconda3ab\lib\site-packages (from nbconvert->jupyter->nb2mail) (0.1.2)
Requirement already satisfied: defusedxml in c:\users\hi\anaconda3ab\lib\site-packages (from nbconvert->jupyter->nb2mail) (0.7.1)
Requirement already satisfied: testpath in c:\users\hi\anaconda3ab\lib\site-packages (from nbconvert->jupyter->nb2mail) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\hi\anaconda3ab\lib\site-packages (from nbconvert->jupyter->nb2mail) (0.3)
Requirement already satisfied: nest-asyncio in c:\users\hi\anaconda3ab\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter->nb2mail) (1.5.1)
Requirement already satisfied: async-generator in c:\users\hi\anaconda3ab\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter->nb2mail) (1.10)
Requirement already satisfied: webencodings in c:\users\hi\anaconda3ab\lib\site-packages (from bleach->nbconvert->jupyter->nb2mail) (0.5.1)
Requirement already satisfied: packaging in c:\users\hi\anaconda3ab\lib\site-packages (from bleach->nbconvert->jupyter->nb2mail) (20.9)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\hi\anaconda3ab\lib\site-packages (from packaging->bleach->nbconvert->jupyter->nb2mail) (2.4.7)
Requirement already satisfied: qtpy in c:\users\hi\anaconda3ab\lib\site-packages (from qtconsole->jupyter->nb2mail) (1.9.0)
Building wheels for collected packages: nb2mail
  Building wheel for nb2mail (setup.py): started
  Building wheel for nb2mail (setup.py): finished with status 'done'
  Created wheel for nb2mail: filename=nb2mail-0.6-py3-none-any.whl size=4345 sha256=c275a6397262dbc56f1e8873e8d625b2d094fc58b1fd622e899116b7fa592293
  Stored in directory: c:\users\hi\appdata\local\pip\cache\wheels\cd\db\25\87554116dc157d3cc7bb10eee2dc11af0bce6ccfe02570ac21
Successfully built nb2mail
Installing collected packages: nb2mail
Successfully installed nb2mail-0.6